/*******************************************************************************
 PAGE LEVEL STYLING
*******************************************************************************/

/* Full page display */
html,
body {
  width: 100%;
  height: 100%;
}

/* Remove margins and overflow scrollbars */
body {
  margin: 0;
  overflow: hidden;
}

/* The grid container holds the various grid areas (header, menu, and main). */
.grid-container {
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh; /*new way of saying 100%*/
  width: 100vw;
  display: grid;
  grid-template-columns: 5em auto; /*em is size of m in the font*/
  grid-template-rows: 100vh;
  gap: none;
}

/*******************************************************************************
 MENU GRID AREA
*******************************************************************************/

/* Styling for the left-side menu -- a grid area. */
.menu {
  background-color: rgb(100, 100, 200);
}

/* Styling for buttons in the left-side menu. */
.menu-button {
  width: 80%;
  height: 4em;
  margin: 10%;
  background-color: white;
}

/*******************************************************************************
 MAIN GRID AREA
*******************************************************************************/

/* Styling for the main display area -- a grid area. */
.main {
}

/* Styling for the image in the main display area. */
#main-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*******************************************************************************
 START BOX
*******************************************************************************/

#start-box {
  position: absolute;
  left: 25%;
  top: 25%;
  width: 50%;
  height: 50%;
  background-color: rgb(52, 235, 88);
  border: outset;
  display: grid;
  grid-template-columns: auto auto; /*em is size of m in the font*/
  gap: 1em;
  padding: 1em;
}

.start-box-label {
  text-align: right;
}

.start-box-input {
}

#start-overlay {
  position: absolute;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
}

#start-pane {
  position: absolute;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
  background-color: rgb(112, 66, 20);
  opacity: 0.7;
}

/* Styling specific to the start-button. */
#start-button {
  background-image: url(assets/start.svg);
  background-size: 90% 100%;
  background-repeat: no-repeat;
  background-position: center center;/*centered vertically and horizontally (center of screen)*/
  width: 4em;
  height: 3em;
  /* background-color: white; */
}

#start-button-box {
  text-align: right;
}